body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-align: center;
  }
  
  .byline {
    font-weight: 200;
    font-style: italic;
  }

  .container-fluid{
      padding: 30px;
      background-color: rgb(46, 45, 45);
      color: white;
  }
  
  .card-title{
      text-align: start;
  }

  .card-body1{
      background-color: dodgerblue;
      color: white;
      
      padding: 6px;
  }

 h4{
     padding-top: 20px;
 }
  